.quantity-input {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.25rem;
  padding: 0.25rem;
  border: 2px solid var(--font);
  border-radius: 2rem;
}

.quantity-input > button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.quantity-input > button:disabled {
  opacity: 0.5;
}

.quantity-input > button path {
  fill: var(--font);
}

.quantity-input > button:hover path,
.quantity-input > button:focus path {
  fill: var(--accent);
}

.quantity-input > input {
  background-color: transparent;
  color: var(--font);
  width: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.quantity-input > input:focus {
  color: var(--accent);
}

.quantity-input > input::-webkit-outer-spin-button,
.quantity-input > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input > input[type='number'] {
  -moz-appearance: textfield;
}
