.cart-page-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.cart-page-summary .accent-text {
  color: var(--accent);
  font-weight: bold;
}

.cart-page-summary > .cart-total-price {
  font-size: 1.4rem;
}

.cart-page-summary > .cart-controls {
  display: flex;
  gap: 1rem;
}

:root.light .cart-controls button {
  box-shadow: 4px 4px 4px gray;
}

.cart-controls button:first-child {
  background-color: var(--background-primary);
  color: var(--font);
}

.cart-controls button:last-child {
  background-color: var(--special);
  color: black;
}

.cart-controls button {
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.3s ease-in-out;
}

.cart-controls button:hover,
.cart-controls button:focus {
  background-color: var(--accent);
  color: var(--background-primary);
}
