.button {
  background-color: var(--special);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  color: black;
  cursor: pointer;
  outline-offset: 0.25rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 0.15rem solid var(--accent);
  }
}
