.button {
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  color: var(--font);
  cursor: pointer;
  display: flex;
  align-items: center;
  outline-offset: 0.25rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;

  &:hover {
    .image {
      transform: scale(1.1);
    }

    .text {
      background-color: var(--background-primary);
    }
  }

  &:focus {
    outline: 0.2rem solid var(--accent);
  }
}

.text {
  background-color: var(--background-opaque);
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.25s ease-in-out;
  width: 100%;
  z-index: 1;
}

.image {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  width: 100%;
}
