.link-button {
  outline: none;
  opacity: 0.9;
  display: block;
  aspect-ratio: 1 / 1;
  background-origin: center;
  background-size: cover;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.5s ease-in-out;
}

:root.light .link-button {
  box-shadow: 2px 2px 4px var(--font);
}

.link-button > span {
  display: block;
  position: relative;
  top: 20%;
  background-color: var(--background-opaque);
  color: var(--font);
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  transition: background-color 0.5s ease-in-out;
}

.link-button:hover,
.link-button:focus {
  opacity: 1;
  transform: scale(1.05);
}

.link-button:hover > span,
.link-button:focus > span {
  background-color: var(--background-primary);
}
