.button {
  background: transparent;
  cursor: pointer;
  height: fit-content;
  outline-offset: 0.2em;
  width: 2rem;

  &:hover {
    opacity: 0.7;
  }

  &:focus .icon {
    fill: var(--accent);
  }
}

.icon {
  display: block;
  fill: var(--font);
}

.icon > path {
  fill: inherit;
}

.iconHidden {
  display: none;
}
