$font-size: 2rem;

.title {
  align-items: center;
  color: var(--font);
  display: flex;
  font-size: $font-size;
  gap: $font-size / 4;

  svg,
  img {
    height: $font-size;
    width: $font-size;
  }

  path {
    fill: var(--font);
  }
}
