.section {
  background-color: var(--background-secondary);
  color: var(--font);
  text-align: center;
}

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 0;
}

.title {
  font-size: 1.8rem;
}
