.settings-dropdown {
  position: relative;
}

.settings-dropdown > button {
  background-color: transparent;
  color: var(--font);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.settings-dropdown > button:hover,
.settings-dropdown > button:focus {
  color: var(--accent);
  text-decoration: underline;
}

.settings-dropdown > button > svg {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease-in-out;
}

.settings-dropdown.open > button > svg {
  transform: rotate(180deg);
}

.settings-dropdown path {
  fill: var(--font);
}

.settings-dropdown > .settings {
  position: absolute;
  right: 0;
  padding: 0 1rem;
  border: 1px solid var(--font);
  display: none;
}

.settings-dropdown.open > .settings {
  display: flex;
  flex-direction: column;
}

.settings-dropdown > .settings > button {
  padding: 0.5rem;
  background-color: transparent;
  color: var(--font);
  transition: color 0.3s ease-in-out;
}

.settings-dropdown > .settings > button:not(:last-child) {
  border-bottom: 1px solid var(--font);
}

.settings-dropdown > .settings > button:hover,
.settings-dropdown > .settings > button:focus {
  color: var(--accent);
  text-decoration: underline;
}
