header {
  background-color: var(--background-primary);
  color: var(--font);
}

header .logo {
  margin-right: auto;
  width: 15rem;
  max-width: 35vw;
}

header .logo > a {
  display: block;
  border-radius: 1rem;
}

header .logo a:focus {
  outline: 0.2rem solid var(--font);
}

header nav a {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--font);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header nav a::after {
  content: '';
  display: block;
  border-bottom: 0.2rem solid var(--font);
  transform: scaleX(0);
  transform-origin: left;
  transition:
    transform 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

header nav a:hover,
header nav a:focus,
header nav a.active {
  color: var(--accent);
}

header nav a:hover::after,
header nav a:focus::after {
  transform: scaleX(1);
  border-color: var(--accent);
}

header > div {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

header .settings > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header > nav {
  padding: 0.5rem;
}

header > nav > ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
