footer {
  background-color: var(--background-primary);
  color: var(--font);
  padding: 1rem 2rem;
}

footer h3 {
  font-size: 1.5rem;
}

.informations {
  display: flex;
  flex-wrap: wrap;
}

.informations > div {
  flex: 1 0 50%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > p {
  text-align: center;
}

.links {
  display: flex;
  flex: 1 0 50%;
  justify-content: space-around;
  padding: 0 2rem;
  gap: 2rem;
}

.links ul {
  padding-left: 0;
  text-align: center;
  line-height: 2;
}

.links ul a {
  text-decoration: none;
  color: var(--font);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  transition:
    color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.links ul a:hover {
  text-decoration: underline;
  color: var(--accent);
}

.links ul a:focus {
  border: 2px solid var(--accent);
  color: var(--accent);
}

.legal-informations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: 1px solid var(--font);
  padding-top: 0.5rem;
}

.legal-informations > p {
  font-size: 0.75rem;
  text-align: center;
  flex: 1 0 50%;
  min-width: max-content;
}
