:root.light {
  --font: #121212;
  --special: #e1c35d;
  --accent: #873143;
  --logo-color: #000;
  --background-primary: #d9d9d9;
  --background-secondary: #fff;
  --background-opaque: rgba(217, 217, 217, 0.7);
  --home-image: url('./assets/images/home-background-light.jpg');
  --home-dashboard: url('./assets/images/dashboard-background-light.jpg');
}

:root.dark {
  --font: #fff;
  --special: #e1c35d;
  --accent: #77a5cd;
  --logo-color: #fff;
  --bg-color-primary: #0a0b0d;
  --bg-color-secondary: #121212;
  --bg-color-opaque: rgba(10, 11, 13, 0.7);
  --home-image: url('./assets/images/home-background-dark.jpg');
  --home-dashboard: url('./assets/images/dashboard-background-dark.jpg');
}

/* Estilos ProductDetails */

.thumbnail-wrapper {
  width: 100%;
  padding-top: 100%; /* Relação de aspecto 1:1 (altura igual à largura) */
  position: relative;
}

.thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preencher o contêiner mantendo a proporção */
}

.main-image-wrapper {
  width: 100%;
  padding-top: 100%; /* Relação de aspecto 1:1 (altura igual à largura) */
  position: relative;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preencher o contêiner mantendo a proporção */
}
