/* Estilos ProductDetails */

.thumbnail-wrapper {
  width: 100%;
  padding-top: 100%; /* Relação de aspecto 1:1 (altura igual à largura) */
  position: relative;
}

.thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preencher o contêiner mantendo a proporção */
}

.main-image-wrapper {
  width: 100%;
  padding-top: 100%; /* Relação de aspecto 1:1 (altura igual à largura) */
  position: relative;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preencher o contêiner mantendo a proporção */
}
