:root.light {
  --font: #121212;
  --special: #e1c35d;
  --accent: #873143;
  --logo-color: #000;
  --background-primary: #d9d9d9;
  --background-secondary: #fff;
  --background-opaque: rgba(217, 217, 217, 0.7);
  --home-image: url('./assets/images/home-background-light.jpg');
  --dashboard-image: url('./assets/images/dashboard-background-light.jpg');
  --invalid-input: #8b0404;
}

:root.dark {
  --font: #fff;
  --special: #e1c35d;
  --accent: #77a5cd;
  --logo-color: #fff;
  --background-primary: #0a0b0d;
  --background-secondary: #242424;
  --background-opaque: rgba(10, 11, 13, 0.7);
  --home-image: url('./assets/images/home-background-dark.jpg');
  --dashboard-image: url('./assets/images/dashboard-background-dark.jpg');
  --invalid-input: #ff6b6b;
}

* {
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  width: 100vw;
  background-color: var(--background-primary);
}

.sr-only {
  position: absolute;
  left: -9999px;
}

/* Estilos ProductDetails */

.thumbnail-wrapper {
  width: 100%;
  padding-top: 100%; /* Relação de aspecto 1:1 (altura igual à largura) */
  position: relative;
}

.thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preencher o contêiner mantendo a proporção */
}

.main-image-wrapper {
  width: 100%;
  padding-top: 100%; /* Relação de aspecto 1:1 (altura igual à largura) */
  position: relative;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preencher o contêiner mantendo a proporção */
}
