.product-details-page {
  background-color: var(--background-secondary);
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--font);
}

.product-details-page .accent-text {
  color: var(--accent);
  font-weight: bold;
}

.product-details-page > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product-details-page > h2 > svg {
  width: 2.5rem;
  height: 2.5rem;
}

.product-details-page > h2 path {
  fill: var(--font);
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.product-details > .product-informations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  width: min(35rem, 70vw);
}

.product-details > .product-informations > label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-details > .product-informations > button {
  background-color: var(--special);
  color: black;
  border: none;
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.product-details > .product-informations > button:hover,
.product-details > .product-informations > button:focus {
  background-color: var(--accent);
  color: var(--background-secondary);
  transform: scale(1.05);
}
