.table {
  border-collapse: collapse;
  min-width: 700px;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

.row:nth-child(even),
.header {
  background-color: var(--background-primary);
}

.row > td,
.row > th,
.header > td,
.header > th {
  padding: 0.25rem 1rem;
  vertical-align: top;
}

.summary {
  cursor: pointer;

  &:hover {
    color: var(--font-opaque);
  }

  &:focus {
    outline: 2px solid var(--accent);
  }
}

.list {
  color: var(--font-opaque);
  font-size: 0.9rem;
  margin-top: 0.25rem;

  > li {
    display: list-item;
    list-style: disc inside;
  }
}

.cancelButton {
  background-color: var(--invalid);
  border: none;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  color: var(--background-primary);
  cursor: pointer;
  outline-offset: 0.2rem;
  padding: 0.25rem 0.5rem;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: 2px solid var(--accent);
  }
}
